.parent-effect {
  perspective: 100px;
  will-change: transform;
}

@keyframes zero-to-one {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes show-top-down {
  0% {
    opacity: 0;
    transform: translateZ(20px) translateY(30px) translateX(5px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateZ(0) translateY(0) translateX(0);
  }
}

@keyframes show-down-top {
  0% {
    opacity: 0;
    transform: translateZ(30px) translateY(-20px) translateX(5px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateZ(0) translateY(0) translateX(0);
  }
}

@keyframes nav-effect {
  0% {
    opacity: 0;
    transform: translateZ(40px) translateY(30px) translateX(-35px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateZ(0) translateY(0) translateX(0);
  }
}

.zero-to-one {
  animation: zero-to-one 0.6s both;
  animation-delay: 0.6s;
}

.show-top-down {
  animation: show-top-down 0.6s ease-out both;
}

.root-page .title {
  animation: show-top-down 0.6s both;
  animation-delay: 0.3s;
}

.root-page .location {
  animation: show-top-down 0.8s both;
  animation-delay: 0.6s;
}

.root-page p {
  animation: show-down-top 0.8s both;
  animation-delay: 0.7s;
}

.nav-effect {
  animation: nav-effect 0.8s both;
}

.nav-effect:first-child {
  animation-delay: 1.2s;
}
.nav-effect:nth-child(2) {
  animation-delay: 1.3s;
}
.nav-effect:nth-child(3) {
  animation-delay: 1.4s;
}
.nav-effect:nth-child(4) {
  animation-delay: 1.5s;
}
