.mouse-effect {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
}

.mouse-effect::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  transform: scale(0.9);
  transition: 0.25s;
}
.chevron {
  transition: 0.1s;
  color: rgba(0, 0, 0, 0.1);
}
.mouse-effect:hover::before,
.mouse-effect:focus::before {
  transform: scaleX(1.01);
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.1);
}
.mouse-effect:hover .chevron {
  color: white;
  font-size: 22px;
}
.mouse-effect:active::before {
  transform: scaleX(1.01);
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.15);
}
